.wrapper {
  display: flex;
  gap: 24px;
  margin-left: 135px;
  top: 100px;
  position: fixed;
}

.box {
  background-color: #000;
  color: #FFF;
  padding: 58px;
  font-family: sans-serif;
  width: 460px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.box h3 {
  font-size: 32px;
  line-height: 1;
}

.box p {
  font-size: 19px;
  line-height: 1.5;
}

.box:last-child {
  position: absolute;
  left: calc(100% + 24px);
}
