/* YourComponent.css */

.text-white {
    transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  .text-white:hover {
    transform: scale(1.05); /* Make the div 5% larger when hovered */
  }
  
  /* WelcomeGreeting.css */
.card1 {
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: large;
}

/* Center the card both horizontally and vertically */
.min-vh-100 {
  display: flex;
  justify-content: center;
  align-items: center;
}
