.custom-card {
    background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830027.jpg?w=1800&t=st=1692130520~exp=1692131120~hmac=de72b39e283382b8d9c814bb613c0f6b374984991a7d7ce3af4e48057fcd2f4d");
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    border: none; /* Remove default border */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    color: white; /* Set text color */
    overflow: hidden; 
    position: relative; 

  }