.custom-card {
    
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    border: none; /* Remove default border */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    color: white; /* Set text color */
    overflow: hidden; 
    position: relative; 

  }